* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(Imagenes/pexels-edward-jenner-4252666.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Raleway", sans-serif;
    overflow: hidden;
}

.container {
    width: 95%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.box {
    height: 90%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
}

.boxOne {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.foto img {
    width: 80%;
    height: 80%;
}

h3 {
    font-weight: 600;
    color: white;
    padding: 5px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}

.redes {
    width: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid white;
    padding-top: 30px;
    margin-top: 30px;
}

.redes i {
    font-size: 25px;
    color: white;
}

.boxTwo {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#name {
    width: 350px;
    padding: 5px 10px;
    margin-top: 25px;
    font-size: 40px;
    color: white;
    text-align: center;
    font-weight: 600;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}



.logo img {
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.organizacion {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.315);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 5px;
    box-shadow: rgba(255, 255, 255, 0.527) 0px 20px 35px -15px;
    transition: all 0.5s;
    margin-bottom: 25px;
}

.organizacion2 {
    text-align: left;
    gap: 5px;
    width: 160px;
    padding-left: 15px;
}

.organizacion2 i {
    transition: all .5s;
}

.organizacion:hover {
    box-shadow: none;
    translate: 0px -2px;
}

a, h4, p {
    text-decoration: none;
    color: white;
    font-weight: 100;
}

.organizacion p {
    color: white;
    font-weight: 200;
}

.organizacion a {
    display: block;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

span {
    font-weight: 500;
    color: white;
}

.mail {
    font-size: 13px;
}

.organizacion:hover .fa-envelope,
.organizacion:hover {
    color: #a01a18;
}

.organizacion:hover .fa-codepen {
    color: #47CF73;
}

.organizacion:hover .fa-linkedin,
.organizacion:hover {
    color: #0077B5;
}

.organizacion:hover .fa-github {
    color: #24292E;
}

.logo {
    margin-top: -50px;

}


.description {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.315);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px;
    box-shadow: rgba(255, 255, 255, 0.527) 0px 20px 35px -15px;
    transition: all 0.5s;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: bold !important;
}

.description p {
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 25px;
    text-align: justify ;
}

.correo{
    display: none;
}

@media (max-width: 720px) {
    .boxOne {
        width: 30%;
    }

    .boxTwo {
        width: 60%;
    }

    .foto {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }

    #name {
        font-size: 30px;
    }

    h3 {
        font-size: 14px;
    }

    .redes {
        width: 80%;
    }

    .organizacion {
        width: 180px;
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    body{
        min-height: 100vh;
        overflow: scroll;
    }

    .container {
        flex-direction: column;
        justify-content: flex-start;
    }

    .redes {
        padding-top: 10px;
        padding-left: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    

    .boxOne {
        width: 100%;
        height: 40%;
    }

    .organizacion {
        width: 50px;
        margin-right: 10px;
    }

    .organizacion span {
        display: none;
    }

    .organizacion p {
        display: none;
    }

    .organizacion2 {
        width: 50px;
        padding-left: 6px;
    }

    h3 {
        width: 65%;
        text-align: center;
    }

    .mail {
        display: none;
    }

    .boxTwo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto !important;
    }

    #name {
        font-size: 20px;
        width: 250px;
    }

    .description p{
        font-size: 15px;
        text-align: center !important;
    }

    .logo{
        width: 250px;
        margin-top: -60px;
        margin-bottom: -50px;
    }

    .correo{
        display: block !important;
        font-size: 15px;
        text-align: center;
        margin-bottom: 5px;
    }
}